body {
margin:0;
font-family:sans-serif;
}

h1 {
font-size:120%;
}

div {
margin:1em;
}

nav {
background-color:#222;
display:block;
margin:0;
}

nav a {
padding:1em;
text-decoration:none;
font-weight:400;
font-size:120%
}

nav,nav a:link,nav a:visited {
color:#9d9d9d;
}

nav a:hover,nav a:active {
color:#fff;
}

table {
width:100%;
border-spacing:0;
border-collapse:collapse;
border-color:grey;
}

td,th {
border:none;
}

td {
border-top:1px solid #ddd;
width:50%;
}

th {
font-weight:700;
text-align:left;
}

tr:hover {
background-color:#f5f5f5;
}
