:root {
  --blue-background: #d2ebee;
  --blue-desaturated: #baecf7;
  --blue-highlight: #33bcdc;
  --blue-watermark: #06aed5;
  --cyan-background: #d1efed;
  --cyan-desaturated: #b9f0ec;
  --cyan-highlight: #31b9ae;
  --cyan-watermark: #04aa9d;
  --dialog-background: #fefefe;
  --dialog-border: #888;
  --grey-background: #dfdfdf;
  --grey-desaturated: #efefef;
  --grey-highlight: #888;
  --grey-watermark: #aaa;
  --link-highlight: #058faf;
  --link-main: #077888;
  --red-background: #f9dddb;
  --red-desaturated: #fac7c3;
  --red-highlight: #e56a5e;
  --red-watermark: #e0493b;
  --scarlet-background: #b83c31;
  --scarlet-desaturated: #b84e44;
  --scarlet-watermark: #e0493b;
  --widget-butter: #fcf5d2;
  --widget-danger-highlight: #e0493b;
  --widget-danger-lowlight: #b83c31;
  --widget-danger-negative: #fff;
  --widget-danger-shadow: #fceae9;
  --widget-highlight: #058faf;
  --widget-lowlight: #077888;
  --widget-negative: #fff;
  --widget-shadow: #e5faff;
  --widget-text: #000;
  --widget-zebra: #eaf5f7;
  --yellow-background: #fcf5d2;
  --yellow-desaturated: #fcf1b8;
  --yellow-highlight: #f2d234;
  --yellow-watermark: #c5a407;
}

h2 {
  font-size: inherit;
}

a:visited,
a:link {
  color: var(--link-main);
}

a text {
  fill: var(--link-main);
}

a:hover,
a:active {
  color: var(--link-highlight);
}

a:hover text,
a:active text {
  fill: var(--link-highlight);
}

.button,
a.button:link,
a.button:visited {
  white-space: nowrap;
}

.button,
a.button,
.dropdown {
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid var(--widget-lowlight);
  cursor: pointer;
  display: inline-block;
  border-radius: 0.4em;
}

a.button {
  text-decoration: none;
}
.menu,
.tablemenu,
.help {
  z-index: 1001;
  position: absolute;
  overflow: auto;
  border-radius: 0.2em;
  max-height: 80vh;
  border: 1px solid var(--widget-text);
  margin: 0px;
}
.tablemenu,
.help {
  padding: 1em;
}
.help {
  max-width: 80vw;
  background-color: var(--widget-negative);
}
.menu,
.tablemenu {
  max-width: 50vw;
  background-color: var(--widget-negative);
  color: var(--widget-text);
}
.tablemenu {
  font-weight: bold;
}

.menu > * {
  color: var(--widget-lowlight);
  background-color: var(--widget-negative);
  display: block;
  padding: 0.5em;
  overflow-wrap: break-word;
  word-break: break-all;
}

.menu > span:hover {
  background-color: var(--widget-highlight);
  color: var(--widget-negative);
}

.button.accessory,
a.button.accessory:link,
a.button.accessory:visited {
  background-color: var(--widget-negative);
  background-image: linear-gradient(
    to bottom,
    var(--widget-negative),
    var(--widget-shadow)
  );
}

.button.accessory:hover,
a.button.accessory:hover {
  background-color: var(--widget-highlight);
}
.dropdown:hover {
  background-color: var(--widget-shadow);
}
.button.accessory,
a.button.accessory:link,
a.button.accessory:visited {
  background-color: var(--widget-negative);
  color: var(--widget-lowlight);
  border-color: var(--widget-lowlight);
}

.button.accessory.active {
  background-color: var(--widget-lowlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-lowlight),
    var(--widget-highlight)
  );
  color: var(--widget-negative);
}

.button.accessory.active:hover {
  background-color: var(--widget-lowlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-shadow),
    var(--widget-zebra)
  );
  color: var(--widget-text);
}

.button.regular,
a.button.regular:link,
a.button.regular:visited,
.button.regular:hover,
.button.accessory:hover {
  background-color: var(--widget-highlight);
  color: var(--widget-negative);
  border-color: var(--widget-lowlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-highlight),
    var(--widget-lowlight)
  );
}

.button.regular:active,
.button.accessory:active {
  background-color: var(--widget-lowlight);
  color: var(--widget-negative);
  border-color: var(--widget-highlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-lowlight),
    var(--widget-highlight)
  );
}

.button.disabled {
  background-color: var(--grey-background);
  color: var(--grey-highlight);
  border-color: var(--grey-highlight);
  background-image: linear-gradient(
    to bottom,
    var(--grey-desaturated),
    var(--grey-background)
  );
}

.button.danger,
a.button.danger:link,
a.button.danger:visited {
  background-color: var(--widget-danger-negative);
  color: var(--widget-danger-lowlight);
  border-color: var(--widget-danger-lowlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-danger-negative),
    var(--widget-danger-shadow)
  );
}

.button.danger:hover {
  background-color: var(--widget-danger-highlight);
  color: var(--widget-danger-negative);
  border-color: var(--widget-danger-lowlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-danger-highlight),
    var(--widget-danger-lowlight)
  );
}

.button.danger:active {
  background-color: var(--widget-danger-lowlight);
  color: var(--widget-danger-negative);
  border-color: var(--widget-danger-highlight);
  background-image: linear-gradient(
    to bottom,
    var(--widget-danger-lowlight),
    var(--widget-danger-highlighth)
  );
}

.accessory > .button {
  font-weight: 400;
  font-size: 90%;
}

.tablemenu table {
  width: auto;
}
.tablemenu p {
  cursor: default;
}

.tablemenu p:hover {
  background-color: #f5f5f5;
}

.olivesearch input {
  width: 100%;
}

.collapse {
  margin: 0.2em;
  padding: 0.5em;
  cursor: pointer;
  margin: 0px;
}

.collapse:before {
  float: left;
  margin-right: 1em;
}

.collapse.close:before {
  content: "▶";
}

.collapse.open:before {
  content: "▼";
}

.collapse.close + * {
  display: none;
}

.error {
  font-weight: 700;
  color: var(--red-watermark);
}

.action,
.alert {
  padding: 0.2em;
  margin-bottom: 0.5em;
}

.action > :first-child {
  font-weight: bold;
}

.statecheck {
  display: inline-block;
  padding: 0.1em;
  margin: 0.1em;
}

.state_failed,
.filterlist .state_failed,
.alert.live {
  border: 1px solid var(--red-watermark);
  background-color: var(--red-background);
}

.state_halp,
.filterlist .state_halp {
  border: 1px solid var(--scarlet-watermark);
  background-color: var(--scarlet-background);
  color: white;
}

.state_inflight,
.filterlist .state_inflight {
  border: 1px solid var(--cyan-watermark);
  background-color: var(--cyan-background);
}

.state_queued,
.filterlist .state_queued {
  border: 1px dashed var(--cyan-watermark);
  background-color: var(--cyan-background);
}

.state_succeeded,
.filterlist .state_succeeded,
.state_simulated,
.alert.expired {
  border: 1px solid var(--blue-watermark);
  background-color: var(--blue-background);
}

.state_throttled,
.filterlist .state_throttled {
  border: 1px dashed var(--yellow-watermark);
  background-color: var(--yellow-background);
}

.state_unknown,
.filterlist .state_unknown {
  border: 1px dashed var(--red-watermark);
  background-color: var(--red-background);
}

.state_waiting,
.filterlist .state_waiting {
  border: 1px solid var(--yellow-watermark);
  background-color: var(--yellow-background);
}

.state_zombie,
.filterlist .state_zombie {
  border: 1px solid var(--grey-watermark);
  background-color: var(--grey-background);
}

.state_failed.updating,
.state_unknown.updating {
  background: linear-gradient(
    -45deg,
    var(--red-background) 25%,
    var(--red-desaturated) 25%,
    var(--red-desaturated) 50%,
    var(--red-background) 50%,
    var(--red-background) 75%,
    var(--red-desaturated) 75%
  );
  background-size: 200px 200px;
}

.state_halp.updating {
  background: linear-gradient(
    -45deg,
    var(--scarlet-background) 25%,
    var(--scarlet-desaturated) 25%,
    var(--scarlet-desaturated) 50%,
    var(--scarlet-background) 50%,
    var(--scarlet-background) 75%,
    var(--scarlet-desaturated) 75%
  );
  background-size: 200px 200px;
}

.state_inflight.updating,
.state_queued.updating {
  background: linear-gradient(
    -45deg,
    var(--cyan-background) 25%,
    var(--cyan-desaturated) 25%,
    var(--cyan-desaturated) 50%,
    var(--cyan-background) 50%,
    var(--cyan-background) 75%,
    var(--cyan-desaturated) 75%
  );
  background-size: 200px 200px;
}

.state_succeeded.updating {
  background: linear-gradient(
    -45deg,
    var(--blue-background) 25%,
    var(--blue-desaturated) 25%,
    var(--blue-desaturated) 50%,
    var(--blue-background) 50%,
    var(--blue-background) 75%,
    var(--blue-desaturated) 75%
  );
  background-size: 200px 200px;
}

.state_throttled.updating,
.state_waiting.updating {
  background: linear-gradient(
    -45deg,
    var(--yellow-background) 25%,
    var(--yellow-desaturated) 25%,
    var(--yellow-desaturated) 50%,
    var(--yellow-background) 50%,
    var(--yellow-background) 75%,
    var(--yellow-desaturated) 75%
  );
  background-size: 200px 200px;
}

.state_zombie.updating {
  background: linear-gradient(
    -45deg,
    var(--grey-background) 25%,
    var(--grey-desaturated) 25%,
    var(--grey-desaturated) 50%,
    var(--grey-background) 50%,
    var(--grey-background) 75%,
    var(--grey-desaturated) 75%
  );
  background-size: 200px 200px;
}

.updating {
  animation: barberpole 60s infinite linear;
}

@keyframes barberpole {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.inset {
  padding: 0.5em;
  margin: 0.5em;
}

.action a,
.alert a {
  text-decoration: none;
}

.action.state_unknown a:link,
.actionstate_failed a:link,
.alert.live a:link,
.action.state_unknown a:visited,
.actionstate_failed a:visited,
.alert.live a:visited {
  color: var(--red-watermark);
}

.action.state_unknown a:hover,
.actionstate_failed a:hover,
.action.state_unknown a:active,
.actionstate_failed a:active,
.alert.live a:hover,
.alert.live a:active {
  color: var(--red-highlight);
}

.action.state_halp a:link,
.action.state_halp a:visited {
  color: var(--scarlet-watermark);
}

.action.state_halp a:hover,
.actionstate_halp a:active {
  color: var(--scarlet-highlight);
}

.action.state_halp td {
  color: white;
}

.action.state_halp th {
  color: var(--scarlet-watermark);
}

.action.state_halp tr:hover {
  background-color: var(--red-watermark);
}

.action.state_queued a:link,
.action.state_inflight a:link,
.action.state_queued a:visited,
.action.state_inflight a:visited {
  color: var(--cyan-watermark);
}

.action.state_queued a:hover,
.action.state_inflight a:hover,
.action.state_queued a:active,
.action.state_inflight a:active {
  color: var(--cyan-highlight);
}

.action.state_throttled a:link,
.action.state_waiting a:link,
.action.state_throttled a:visited,
.action.state_waiting a:visited {
  color: var(--yellow-watermark);
}

.action.state_throttled a:hover,
.action.state_waiting a:hover,
.action.state_throttled a:active,
.action.state_waiting a:active {
  color: var(--yellow-highlight);
}

.action.state_succeeded a:link,
.action.state_simulated a:link,
.alert.expired a:link,
.action.state_succeeded a:visited,
.action.state_simulated a:visited,
.alert.expired a:visited {
  color: var(--blue-watermark);
}

.action.state_succeeded a:hover,
.action.state_succeeded a:active,
.action.state_simulated a:hover,
.action.state_succeeded a:active,
.alert.expired a:hover,
.alert.expired a:active {
  color: var(--blue-highlight);
}

.action.state_zombie a:link,
.action.state_zombie a:visited {
  color: var(--grey-watermark);
}

.action.state_zombie a:active,
.action.state_zombie a:hover {
  color: var(--grey-highlight);
}

.action > :first-child::before,
.alert > :first-child::before {
  opacity: 0.5;
  font-size: 200%;
  float: right;
}

.action.state_unknown > :first-child::before {
  content: "Unknown 🤷";
  color: var(--red-watermark);
}

.action.state_failed > :first-child::before {
  content: "Failed 💔";
  color: var(--red-watermark);
}

.action.state_halp > :first-child::before {
  content: "Halp 🚒";
  color: var(--scarlet-watermark);
}

.action.state_queued > :first-child::before {
  content: "Queued ⌛";
  color: var(--cyan-watermark);
}

.action.state_inflight > :first-child::before {
  content: "Inflight ✈";
  color: var(--cyan-watermark);
}

.action.state_throttled > :first-child::before {
  content: "Throttled ✋";
  color: var(--yellow-watermark);
}

.action.state_waiting > :first-child::before {
  content: "Waiting ⌛";
  color: var(--yellow-watermark);
}

.action.state_succeeded > :first-child::before {
  content: "Succeeded ✓";
  color: var(--blue-watermark);
}

.action.state_simulated > :first-child::before {
  content: "Simulated 🤖";
  color: var(--blue-watermark);
}

.action.state_zombie > :first-child::before {
  content: "Zombie 🧟";
  color: var(--grey-watermark);
}

.alert.expired > :first-child::before {
  content: "Expired 😴";
  color: var(--blue-watermark);
}

.action.live > :first-child::before {
  content: "Firing 🔔";
  color: var(--red-watermark);
}

.filterlist > span {
  color: white;
  background-color: var(--blue-watermark);
}

.filterlist .state_failed,
.filterlist .state_inflight,
.filterlist .state_queued,
.filterlist .state_succeeded,
.filterlist .state_throttled,
.filterlist .state_unknown,
.filterlist .state_waiting,
.filterlist .state_zombie,
.button.state_failed,
.button.state_inflight,
.button.state_queued,
.button.state_succeeded,
.button.state_throttled,
.button.state_unknown,
.button.state_waiting,
.button.state_zombie {
  color: black;
}

.filterlist > span {
  padding: 0.2em;
  border: 1px solid var(--link-highlight);
  margin: 0.2em;
  white-space: nowrap;
  border-radius: 0.1em;
  display: inline-block;
}

.filterlist > span.editable {
  box-shadow: 0.1em 0.1em 5px 0px rgba(0, 0, 0, 0.1);
}

.filters > span {
  cursor: pointer;
}

.filters {
  border: 1px solid var(--widget-lowlight);
  box-shadow: 0.1em 0.1em 5px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-width: 25vw;
}

.filters > span > span.close {
  float: right;
}

.filters > span > span.close,
.filterlist > div > span.close {
  margin: 0.3em;
}

.filters {
  display: flex;
  flex-flow: row wrap;
}

.filters > span {
  padding: 0.5em;
}

.filters > span:nth-child(even) {
  background-color: var(--widget-zebra);
}

.tab {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  border-bottom: 0.1em solid var(--widget-highlight);
  color: var(--widget-lowlight);
  transition: background 0.3s ease-in-out;
}

.tab.selected {
  background-color: var(--widget-zebra);
  border-bottom: 0.1em solid var(--widget-lowlight);
}

.tab:hover {
  background-color: var(--blue-watermark);
  color: white;
  border-bottom: 0.1em solid var(--blue-watermark);
}

.label {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
  box-shadow: 0.1em 0.1em 5px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--blue-watermark);
  background-color: var(--blue-background);
}

.modal,
.capture {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.close > div {
  background-color: var(--dialog-background);
  margin: 5vh auto;
  padding: 20px;
  border: 1px solid var(--dialog-border);
  width: 80%;
  max-height: 90vh;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 5px 0px rgba(0, 0, 0, 0.2);
}

.modal.close > div > :first-child {
  font-size: 150%;
  top: 0px;
  right: 0px;
  text-align: right;
  cursor: pointer;
}

.modal.close > div > :first-child:hover {
  color: var(--widget-danger-lowlight);
}

.modal.close > div > :nth-child(2) {
  overflow: auto;
  max-height: 85vh;
}

.menu > span {
  color: var(--widget-text);
  background-color: var(--widget-negative);
  padding: 0.5em;
  cursor: pointer;
  display: block;
}

.menu > span:hover {
  color: var(--widget-negative);
  background-color: var(--widget-highlight);
}

th {
  color: grey;
}
.help {
  padding: 1em;
}
.help hr {
  border: 1px solid var(--dialog-border);
  width: 1px;
  height: 1px;
}
.userselected {
  font-weight: bold;
  font-style: italic;
}

textarea {
  width: 100%;
  height: 50vh;
}

.function input {
  width: 50vw;
}

.function td:nth-child(2) {
  text-align: right;
}

.function td:last-child {
  width: 51vw;
}

.function tr:last-child td:last-child {
  text-align: right;
}

.modal .throbber {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  top: calc(50%);
  left: calc(50%);
}

div.histogram {
  padding-top: 1em;
}

div.editor {
  width: 100%;
  height: 60vh;
}

table.errors {
  width: 100%;
}

.vertical {
  writing-mode: vertical-rl;
}

.active {
  background-color: var(--cyan-background);
}

.throbber span {
  display: inline-block;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  vertical-align: middle;
  background-color: var(--widget-highlight);
  animation: throbber-pulse 1.2s linear infinite;
}
.throbber span:nth-child(1) {
  animation-delay: 0s;
}
.throbber span:nth-child(2) {
  animation-delay: -0.4s;
}
.throbber span:nth-child(3) {
  animation-delay: -0.8s;
}
@keyframes throbber-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

img.deadolive {
  height: 2em;
  vertical-align: middle;
}

.butter {
  background: var(--widget-butter);
  padding: 1em;
  border: 1px solid var(--widget-lowlight);
  border-radius: 0.5em;
  position: absolute;
  max-width: 40vw;
  top: 2vh;
  right: 2vw;
  color: var(--widget-text);
  z-index: 2000;
  transition: opacity 0.3s linear;
}

.butter img {
  max-width: calc(40vw - 2em);
}

.filters > div {
  margin: 0.2em;
  border: 1px dotted var(--widget-highlight);
  padding: 0.5em;
}

.spot {
  background-color: var(--widget-danger-lowlight);
  color: var(--widget-danger-negative);
}
.nospot {
  background-color: var(--widget-danger-shadow);
  color: var(--widget-danger-lowlight);
}
.spot,
.nospot {
  font-size: 70%;
  vertical-align: top;
  border-radius: 50%;
  padding: 0.2em;
  margin: 0.2em;
}
.icon {
  vertical-align: middle;
  margin-right: 0.3em;
}

.sidepanel {
  display: flex;
  flex-direction: row;
}
.sidepanel > div:first-child {
  border: 1px solid var(--widget-lowlight);
  flex-grow: 0;
  flex-shrink: 0;
  height: 80vh;
  margin-right: 1em;
  overflow: scroll;
  padding: 1em;
  width: 25vw;
}
.indent {
  padding-left: 1em;
}

.close {
  cursor: pointer;
  white-space: nowrap;
}

.tree:hover {
  color: var(--widget-lowlight);
}

.tree.selected {
  background-color: var(--widget-zebra);
  color: var(--widget-lowlight);
}

.tree.selected:hover {
  color: var(--widget-text);
}

.progress {
  width: 100%;
  background-color: var(--widget-shadow);
}
.progress > div {
  height: 2ex;
  background-color: var(--widget-lowlight);
}

input.ok {
  box-shadow: none;
}
input.bad {
  box-shadow: 0px 0px 0.5em var(--widget-danger-highlight);
}
input.busy {
  animation: busythrob 3s infinite;
}
input.dirty {
  box-shadow: 0px 0px 0.5em var(--widget-lowlight);
}
@keyframes busythrob {
  0% {
    box-shadow: 0px 0px 0.2em var(--widget-lowlight);
  }
  50% {
    box-shadow: 0px 0px 0.5em var(--widget-highlight);
  }
  100% {
    box-shadow: 0px 0px 0.2em var(--widget-lowlight);
  }
}

.rigid {
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
}
